.header {
    font-size: 2rem;
}


.column-header {
    font-weight: bold;
}

.column-header:hover {
    background-color: white !important;
}

.users-list {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    margin: 15px 20px;

    border-style: solid;
    border-color: var(--darkgrey);
    border-top-color: var(--main-orange);
    border-width: 1px;
    border-top-width: 2px;
}

.list-header {
    padding: 5px;
}

.align-right {
    margin-left: auto;
}

.user-item {
    padding: 5px;
    border-color: var(--lightgray);
    border-bottom-width: thin;
}

.user-item:hover {
    background-color: var(--lightgray);
}

.paginate {
    padding: 5px;
}

.paginate > li {
    border-width: 1px;
    border-color: var(--darkgrey);
    padding: 2px 8px;
    margin: 2px;
}

.paginate > .selected {
    background-color: var(--lightgray);
}