.form-input {
    border-style: solid;
    border-top-color: orange;
    border-width: 1px;
    border-top-width: 2px;
}

.form-header {
    border-style: solid;
    border-width: 1px;
}

.form-error {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 10px 20px;
}