.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-form-error {
    background-color: var(--red-error);
    color: white;
    font-size: 12px;
    padding: 10px 20px;
}