#root {
  height: 100%;
  min-width: inherit;
  margin: 0 auto;

  --success-green: forestgreen;
  --lightgray: lightgrey;
  --darkgrey: darkgrey;
  --red-error: red;
  --darkred: darkred;
  --darkred-hover: #780000;
  --main-orange: rgb(255, 140, 0);
  --hover-orange: rgb(255, 100, 0);
}