.submit-button {
    padding: 7px 15px;
    margin: 5px;
    background-color: var(--main-orange);
    color: white;
}

.submit-button:hover {
    background-color: var(--hover-orange);
    transition-duration: 0.3s;
}

.cancel-button {
    padding: 7px 15px;
    margin: 5px;
    border: var(--lightgray) solid 1px;
    color: black;
}

.cancel-button:hover {
    background-color: var(--lightgray);
    transition-duration: 0.3s;
}

.disabled-button {
    padding: 7px 15px;
    margin: 5px;
    background-color: var(--hover-orange);
    color: white;

    display: flex;
    align-items: center;
}

.loader {
    border: 2px solid #8e8e8e;
    border-top: 2px solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}