.menu-bar {
    height: 100%;
    min-width: 250px;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgba(255, 255, 255, 0.9);
}

.menu-item {
    padding: 1rem;
    border-bottom-color: var(--darkgrey);
    border-top-color: var(--darkgrey);
    border-bottom-width: thin;
}

.menu-item.selected {
    background-color: var(--main-orange);
    color: black;
}

.bottom-item {
    position: absolute;
    bottom: 0;
}

.status-notification-container {
    position: fixed;
    right: 10px;
    bottom: 5px;
    z-index: 1;
}
.status-update-message {
    padding: 10px;
    background-color: var(--success-green);
    color: white;
}

.form-header {
    border-style: solid;
    border-width: 1px;
}

.orange-top-form-header {
    border-style: solid;
    border-width: 1px;
    border-top-width: 2px;
    border-top-color: var(--main-orange);
}

.header {
    font-size: 2rem;
}

.column-header {
    font-weight: 350;
}

.column-header:hover {
    background-color: white !important;
}

.list-header {
    padding: 5px;
}

.align-right {
    margin-left: auto;
}

.negative-margin-hamburger-button {
    margin: -10px -10px -10px auto;
}